* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  color: #f9f6d7;
  background: none;
  font-family: HurmitNerdFont Mono;
  font-size: 16px;
  font-weight: 900;
}

#custom-rofi,
#mode,
#submap,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  color: #f9f6d7;
  background: #000000;
  border: 5px solid #000000;
  padding-right: 4px;
}

#custom-rofi {
  color: #000000;
  background: #206bc4;
  padding: 0 8px;
  border-bottom: 6px solid #000000;
}

#workspaces {
  margin: 0px;
}

#workspaces button {
  padding: 0 4px;
  margin: 0px 3px;
  min-width: 22px;
  color: #f9f6d7;
  background: #000000;
  border: 4px solid #000000;
}

#workspaces button:hover {
  color: #000000;
  background: #d3869b;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #000000;
  background: #f9f6d7;
}

#workspaces button.urgent {
  color: #000000;
  background: #ea6962;
}

#window {
  color: #d3869b;
  border-top: 6px solid #000000;
}

#tray {
  padding: 0 6px;
  background: #000000;
}

#disk {
  color: #05a7aa;
}

#cpu {
  color: #e4e4e4;
}

#custom-cpu_temp {
  color: #f6e377;
}

#custom-cpu_temp.critical {
  color: #f00359;
  padding-right: 0px;
}

#custom-cpu_temp.unknown {
  color: #696969;
}

#custom-memory {
  color: #206bc4;
}

#pulseaudio {
  color: #f85452
}

#pulseaudio.muted {
  color: #f00359;
  text-decoration: line-through;
}

#battery {
  color: #d3c0ac;
}

#battery.critical {
  color: #f00359;
}

#battery.warning {
  color: #e78a4e;
}

#clock {
  color: #4ba560;
}

#network {
  color: #ff78c6;
  padding-top: 2px;
}

#mode,
#submap {
  color: #000000;
  background: #83a598;
  padding: 0 6px;
}
